@using Microsoft.VisualStudio.Web.CodeGenerators.Mvc.Templates.Blazor
@model WebApplication1.Models.ModelSessions
@namespace AspNetCore


<form enctype="multipart/form-data" method="post" asp-action="Edit">
    <input type="hidden">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Sessions</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="dateTime"> </label>
            <input asp-for="dateTime" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="price"> </label>
            <input asp-for="price" class="form-control" />
        </div>
       
        <button type="submit" class="btn btn-danger" style="width:150px">Edit</button>
        <a asp-controller="Sessions" asp-action="AllCategories" class="btn btn-secondary" style="width:150px">Back to list</a>
    </div>
</form>